<!-- CHECKLISSTTTTTYYY!!!
4.music 
5.hyperlink
6.every html tag
7.working form?
8.SOCAILLSSSS
9.photographjy social
10.svg mask
11.amazon like zoom for images
12.preloader bar, wave under mask
13Every N5 -> Higher element
14. Universal dynamic website view.
15. Complete Commentary
-->

<!--
  Basic steps for loader
  1. website load
  2. while this is happening, background and icon mask to another color
  3. progress bar fills icon
  4. once 100%, animation stops and onclick is avaliable
  5. onclick fades svg into bg and then bg folds.
  6. this includes music and sound
-->

<!DOCTYPE html>
<html>
<head>
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sora">

  <!-- External Files -->

    <!-- CSS File Path -->
    <link rel="stylesheet" href="../CSS/Hare's.css">
    <link rel="stylesheet" href="../CSS/PACE.css">
    <!-- Javascript File Path-->
    <script src="../JavaScript/Jquery371.js"></script> <!-- Jquery -->
    <script src="../JavaScript/PACE.js"></script> <!-- PACE JS -->
    <script src="../JavaScript/Hare'sIntro.js"></script> <!-- Basic JS -->

    <!-- Web Tab Icon Path -->
    <link rel="icon" href="../Other/Icon.png">

  <!-- Title of Website -->
  <title>Roser∀gora</title>
</head>

<body>

<!-- Preloader -->
<!-- svg z below it, then use copy 
</svg>
 -->
<div id="loader-wrapper">
  <div id="loader">
  
  <svg id="mask" class="SVG_Icon animation" viewBox = "0 0 274 274">
    <g></g> <!-- square that will not animate, will -->
    <g onclick="fadeInAudio();fadeOut(element)"> <!-- using this grouping tag, only the actual elements of the icon is onclickable. -->
    <g fill="#000000" fill-opacity="1.00" stroke="None">
      <path  d="
      M 124.00 53.00 
      C 125.62 32.29 112.52 2.48 88.00 1.00 C 61.79 -1.42 44.78 27.52 51.00 51.00
      C 27.09 44.63 -2.03 62.38 1.01 88.99 C 3.41 112.87 32.45 125.58 53.00 124.00
      C 37.83 120.73 26.96 102.54 33.02 88.02 C 37.76 72.83 57.20 66.81 71.00 71.00
      C 66.75 57.00 73.03 36.80 88.93 32.93 C 103.19 27.08 120.79 38.24 124.00 53.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
      <path d="
      M 223.00 51.00 
      C 229.37 27.09 211.62 -2.03 185.01 1.01 C 161.13 3.41 148.42 32.45 150.00 53.00
      C 153.27 37.83 171.46 26.96 185.98 33.02 C 201.17 37.76 207.19 57.20 203.00 71.00
      C 217.00 66.75 237.20 73.03 241.07 88.93 C 246.92 103.19 235.76 120.79 221.00 124.00
      C 241.71 125.62 271.52 112.52 273.00 88.00 C 275.42 61.79 246.48 44.78 223.00 51.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
      <path d="
      M 131.00 96.00 
      C 129.96 81.44 128.30 60.90 111.07 56.93 C 95.14 51.93 80.99 71.42 86.00 86.00
      C 70.97 80.86 51.47 95.75 57.02 111.98 C 61.91 128.46 81.62 129.93 96.00 131.00
      C 77.39 125.27 89.18 97.02 106.00 106.00
      C 97.04 89.19 125.21 77.36 131.00 96.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 188.00 86.00 
    C 193.14 70.97 178.25 51.47 162.02 57.02 C 145.54 61.90 144.07 81.62 143.00 96.00
    C 148.73 77.39 176.98 89.18 168.00 106.00
    C 184.81 97.04 196.64 125.21 178.00 131.00
    C 192.56 129.96 213.10 128.30 217.07 111.07 C 222.07 95.14 202.58 80.99 188.00 86.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 135.00 135.00 
    C 134.27 126.76 137.06 116.86 131.75 110.25 C 127.00 102.62 115.69 109.28 117.00 117.00
    C 109.26 115.67 102.63 127.05 110.25 131.75 C 116.93 137.09 126.73 134.26 135.00 135.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 157.00 117.00 
    C 158.33 109.26 146.95 102.63 142.25 110.25 C 136.91 116.93 139.74 126.73 139.00 135.00
    C 147.24 134.27 157.14 137.06 163.75 131.75 C 171.38 127.00 164.72 115.69 157.00 117.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 135.00 139.00 
    C 126.76 139.73 116.86 136.94 110.25 142.25 C 102.62 147.00 109.28 158.31 117.00 157.00
    C 115.67 164.74 127.05 171.37 131.75 163.75 C 137.09 157.07 134.26 147.27 135.00 139.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 157.00 157.00 
    C 164.74 158.33 171.37 146.95 163.75 142.25 C 157.07 136.91 147.27 139.74 139.00 139.00
    C 139.73 147.24 136.94 157.14 142.25 163.75 C 147.00 171.38 158.31 164.72 157.00 157.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 96.00 143.00 
    C 81.44 144.04 60.90 145.70 56.93 162.93 C 51.93 178.86 71.42 193.01 86.00 188.00
    C 80.86 203.03 95.75 222.53 111.98 216.98 C 128.46 212.09 129.93 192.38 131.00 178.00
    C 125.27 196.61 97.02 184.82 106.00 168.00
    C 89.19 176.96 77.36 148.79 96.00 143.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 188.00 188.00 
    C 203.03 193.14 222.53 178.25 216.98 162.02 C 212.09 145.54 192.38 144.07 178.00 143.00
    C 196.61 148.73 184.82 176.98 168.00 168.00
    C 176.96 184.81 148.79 196.64 143.00 178.00
    C 144.04 192.56 145.70 213.10 162.93 217.07 C 178.86 222.07 193.01 202.58 188.00 188.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 53.00 150.00 
    C 32.29 148.38 2.48 161.48 1.00 186.00 C -1.42 212.21 27.52 229.22 51.00 223.00
    C 44.63 246.91 62.38 276.03 88.99 272.99 C 112.87 270.59 125.58 241.55 124.00 221.00
    C 120.73 236.17 102.54 247.04 88.02 240.98 C 72.83 236.24 66.81 216.80 71.00 203.00
    C 57.00 207.25 36.80 200.97 32.93 185.07 C 27.08 170.81 38.24 153.21 53.00 150.00 Z"/>
    </g>
    <g fill="#000000" fill-opacity="1.00" stroke="None">
    <path d="
    M 223.00 223.00 
    C 246.91 229.37 276.03 211.62 272.99 185.01 C 270.59 161.13 241.55 148.42 221.00 150.00
    C 236.17 153.27 247.04 171.46 240.98 185.98 C 236.24 201.17 216.80 207.19 203.00 203.00
    C 207.25 217.00 200.97 237.20 185.07 241.07 C 170.81 246.92 153.21 235.76 150.00 221.00
    C 148.38 241.71 161.48 271.52 186.00 273.00 C 212.21 275.42 229.22 246.48 223.00 223.00 Z"/>
    </g>
    </g>
  </svg>
  </div>
</div>
  







<!-- Navbar -->
<nav> 
  <ul class="ul">
    <li><a class="active" href="">Home</a></li>
    <li><a href="">bnr</a></li>
    <li><a href="MeCore.html">a</a></li>
  </ul>
</nav>

<img alt="testing" >
  <h1 title="click me :3"><span>rock</span></h1>






<button onclick="fadeInAudio()">Play Audio</button>
  
<button id="btn" onclick="introAudio.play();">Music</button>




<div>
<p>BITCH PLEASEEEEEEE PLLLLLLLLLLLLLEEEEEEEEEEEEEEEEAAASEEEE</p>
<br>
<p>die :3</p>
<center>
<p>i</p>
</center>
<p>redihate</p>
<center>
<h2><a href="google" target="_blank">suck</a></h2>
</center>
</div>






<!-- timeout make appear
CSS

.hidden {
    display:none;
}
HTML

<div id="threeSeconds" class="hidden">Won't show up for 3 seconds</div>
Javascript

// attach to window.onload
setTimeout(function(){

    var modifiedClass = document.getElementById('threeSeconds').className.replace(/\bhidden\b/, '');
    document.getElementById('threeSeconds').className = modifiedClass;

}, 3000);
-->


<!-- Randomizer to impliment
<body>
  <div id="app">
    <button @click="randomize">
      Randomize
    </button>
    <button v-if="activeAudio" @click.prevent="toggle">
      {{ activeAudio.isPlaying ? 'Pause' : 'Play'}}
    </button>

    <h4 v-if="activeAudio">
      <span>
        {{ activeAudio.isPlaying === true ? 'Playing' : 'Paused'}}
      </span>
      : {{ activeAudio.name }}
    </h4>
</body>
-->

<!-- Hidden Audio -->
<audio preload="auto" id="myAudio" src="../Other/WildArms_TownTheme.mp3"></audio>
<audio preload="auto" id="myAudioStart" src="../Other/IntroClickSound.mp3"></audio>
<!-- LAG AUDIO TO TEST LOADBAR -->
<audio preload="auto" src="../Other/HGSS/001.flac"></audio>
<audio preload="auto" src="../Other/HGSS/002.flac"></audio>
<audio preload="auto" src="../Other/HGSS/003.flac"></audio>
<audio preload="auto" src="../Other/HGSS/004.flac"></audio>
<audio preload="auto" src="../Other/HGSS/005.flac"></audio>
<audio preload="auto" src="../Other/HGSS/006.flac"></audio>
<audio preload="auto" src="../Other/HGSS/007.flac"></audio>
<audio preload="auto" src="../Other/HGSS/008.flac"></audio>
<audio preload="auto" src="../Other/HGSS/009.flac"></audio>
<audio preload="auto" src="../Other/HGSS/010.flac"></audio>
<audio preload="auto" src="../Other/HGSS/011.flac"></audio>
<audio preload="auto" src="../Other/HGSS/012.flac"></audio>
<audio preload="auto" src="../Other/HGSS/013.flac"></audio>
<audio preload="auto" src="../Other/HGSS/014.flac"></audio>
<audio preload="auto" src="../Other/HGSS/015.flac"></audio>
<audio preload="auto" src="../Other/HGSS/016.flac"></audio>
<audio preload="auto" src="../Other/HGSS/017.flac"></audio>
<audio preload="auto" src="../Other/HGSS/018.flac"></audio>
<audio preload="auto" src="../Other/HGSS/019.flac"></audio>
<audio preload="auto" src="../Other/HGSS/020.flac"></audio>
<audio preload="auto" src="../Other/HGSS/170.flac"></audio>
<audio preload="auto" src="../Other/HGSS/171.flac"></audio>
<audio preload="auto" src="../Other/HGSS/172.flac"></audio>
<audio preload="auto" src="../Other/HGSS/173.flac"></audio>
</body>
  <!-- re-opening head to import animation JS. -->
  <head>
    <script src="../JavaScript/Hare'sAnimations.js"></script>
  </head>
</html>
